/* Overlay style */

@font-face {
  font-family: "Geomanist-Black";
  src: url("./Geomanist-Black.woff") format('woff');
}
@font-face {
  font-family: "Geomanist-Bold";
  src: url("./Geomanist-Bold.woff") format('woff');
}

@font-face {
  font-family: "Intro-Light";
  src: url("./Intro-Light.woff") format('woff');
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trigger-container {
  height: 0px;
  background-color: #ea4134;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  width: 10px;
  z-index: 2;
  position: relative;
}

.trigger {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #ea4134;
  position: absolute;
  bottom: 100px;
}

.trigger-close {
  border-radius: 50%;
  border: none;
  outline: none;
  height: 90px;
  width: 90px;
  background-color: #383f42;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
  padding: 10px;
}

.inner-container {
  position: absolute;
  height: 30%;
  background-color: #ea4134;
  top: 30px;
  width: 80%;
  transition: opacity .25s ease-out;
}

.navigation {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navigation > ul {
  list-style-type: none;
}
.navigation > ul > li {
  font-size: 12vh;
  line-height: .95;
  font-family: Geomanist-Black;
  font-weight: 400;
  letter-spacing: -.1rem;
  color: white;
}
.buttons-group {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-buttons {
  border-radius: 50%;
  height: 100px;
  border: none;
  outline: none;
  margin-right: 10px;
  width: 100px;
  background-color: transparent;
  color: white;
}

.main-navigation {
  height: 60px;
  width: 100%;
  background-color: #ea4134;
  position: absolute;
  top: 0;
  color: white;
  z-index: 3;
}
.sub-content {
  height: 60px;
  width: 80%;
  position: absolute;
  top: 60px;
  z-index: 2;
}
.icons {
  font-size: 50px !important;
}

.main-icon {
  font-size: 55px !important;
}
@media screen and (max-width: 425px) {
  .trigger-close {
    height: 70px;
    width: 130px;
  }

.icons {
  font-size: 35px !important;
}

.main-icon {
  font-size: 40px !important;
}
}
