/* Overlay style */

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trigger-container {
  height: 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  width: 10px;
  z-index: 2;
  position: relative;
}

.trigger {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  bottom: 100px;
}

.trigger-close {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: red;
  margin-right: 20px;
  margin-left: 20px;
}

.inner-container {
  position: absolute;
  height: 30%;
  background-color: red;
  top: 30px;
  width: 80%;
}

.navigation {
  height: 80%;
  background-color: yellow;
  width: 100%;
}
.buttons-group {
  background-color: teal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-buttons {
  border-radius: 50%;
  height: 100px;
  margin-right: 10px;
  width: 100px;
}

.main-navigation {
	height: 60px;
	width: 100%;
	background-color: red;
	position: absolute;
	top:0;
	z-index: 3;
}